<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public_c50/style.css">
</head>
<body>
    
    <!-- 🥒c50,  -->
    <!-- 
      공유할 html 파일 : 
      views폴더
      html형식  (ejs X)
     -->
    <nav class="navbar">
        <div class="navbar__logo">
          <a href="">keiVenture</a>
        </div>
        <div class="navbar__menu">
                    
          <li><a href="http://localhost:8080">home</a></li>
          <li><a href="http://localhost:8080/write">write</a></li>
          <li><a href="http://localhost:8080/list">list</a></li>
          <li><a href="/detail">detail_c48</a></li>
          <li><a href="/edit">edit_c52</a></li>        
          <li><a href="/login">login_c58</a></li>        
          <li><a href="/search">search_c68</a></li>        
          <li><a href="/upload">upload_c78</a></li>        
     </nav>
</body>
</html>