<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>class</title>

    <!--bootstrap  -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <script src="bootstrap/bootstrap.min.js" defer></script>
    <!-- jquery -->
    <script src="jQuery/jquery-3.4.1.min.js" defer></script>

    <!-- CSS, JS -->
    <link rel="stylesheet" href="../style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <!-- 🦄👻🚀⚡👉🍉 -->

    <section>
      <p class="title">터미널 명령어 정리</p>
      <!-- 
       
       -->
    </section>
    <section class="c3">
      <p class="title"></p>
    </section>

    <nav class="navbar">
      <div class="navbar__logo">
        <i class="fas fa-kiwi-bird"></i>
        <a href="">keiVenture</a>
      </div>
      <div class="navbar__menu">

        <li><a href="http://localhost:3000">home</a></li>
        <li><a href="http://localhost:3000/write">write</a></li>
        <li><a href="http://localhost:3000/list">list</a></li>
        <li><a href="/edit">edit</a></li>
        
      </div>
      <div class="navbar__icons">
        <li><i class="fab fa-odnoklassniki-square"></i></li>
        <li><i class="fas fa-skiing"></i></li>
      </div> 

      <a href="#" class="footer">
        <i class="fas fa-align-justify"></i>
      </a>
    </nav>

    <section>
      <h1>./views/detail.ejs</h1>

      <!-- 🦄c48, 🥒server.js -->
      <!-- ig_data.~ -->
      <h4>Title: <%= ig_data.제목 %> </h4>
      <h4>Date:  <%= ig_data.날짜 %></h4>


    </section>
    <br><br><br>
    
    <!--  -->
    <section>
 
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
   



    </script>
  </body>
</html>
